<launch>

	<arg name="num_samples" default="1000" />
	<arg name="chain_start" default="kp0093_1_240_kp0001-01_basemountbottom" />
	<arg name="chain_end" default="kp0093_1_186_kp0093-01_toolinterface" />
	<arg name="timeout" default="0.005" />

	<param name="robot_description" textfile="$(find dexter)/urdf_simple/robot.urdf" />
	<!--<param name="robot_description" command="$(find xacro)/xacro.py '$(find dexter)/urdf/robot.urdf'" />-->

	<node name="test_trac_ik" pkg="test_ik" type="tester" output="screen">
		<param name="num_samples" value="$(arg num_samples)" />
		<param name="chain_start" value="$(arg chain_start)" />
		<param name="chain_end" value="$(arg chain_end)" />
		<param name="timeout" value="$(arg timeout)" />
		<param name="urdf_param" value="/robot_description/" />
	</node>

	

</launch>