<launch>

    <arg name="model" />
    <param name="robot_description" textfile="$(find dexter)/urdf/robot.urdf" />
    <param name="use_gui" value="true" />

    <node name="joint_state_publisher" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
    <node name="base_link_publisher" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 kp0093_1 map 100" />
    <node name="rviz" pkg = "rviz" type="rviz" args="-d $(find dexter)/urdf/robot.rviz" />


</launch>
